body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    background-color: #3f4143;
    color: #dedede;
    border-bottom: 10px solid #b01818;
    border-radius: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 100%;
}